<div id="<%= dom_id user %>">
  <p>
    <strong>Display name:</strong>
    <%= user.display_name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= user.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user.status_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= user.type_id %>
  </p>

</div>
